[Unit]
Description=Mailpit Email Catcher
After=network.target

[Service]
Type=simple
ExecStart={{ mailpit_install_dir }}/mailpit
User={{ mailpit_user }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
