---
- name: Check for secure vars files
  become: false
  local_action:
    module: ansible.builtin.stat
    path: "secure_vars/{{ item }}.yml"
  with_items: "{{ group_names }}"
  register: secure_vars_group_files

- name: Import common secure vars
  ansible.builtin.include_vars:
    file: "secure_vars/common.yml"
  when: load_common_secure_vars|default(false)

- name: Import secure vars
  ansible.builtin.include_vars:
    file: "{{ item.stat.path }}"
  when: item.stat.exists
  with_items: "{{ secure_vars_group_files.results }}"
  loop_control:
    label: "{{ item.stat.path if item.stat.exists else 'N/A' }}"
