parameters:
    database_host: "{{ symfony_params_database_host }}"
    database_port: 3306
    database_name: molecule_app
    database_password: "{{ symfony_params_database_password }}"
    secret: "{{ symfony_params_app_secret }}"
