---
- name: "Install Node version {{ nvm_user_config_version.version }}"
  ansible.builtin.command: 'bash -ic "nvm install {{ nvm_user_config_version.version }}"'
  changed_when: true
  when: nvm_user_config_version.version != 'system'

- name: "Enable package managers for Node version {{ nvm_user_config_version.version }}"
  ansible.builtin.command: >-
    bash -ic "nvm exec {{ nvm_user_config_version.version }} corepack enable
    {{ nvm_user_config_version.corepack_enable if nvm_user_config_version.corepack_enable is string else '' }}"
  changed_when: true
  when: nvm_user_config_version.corepack_enable|default(false) is not false

- name: "Install global packages for Node version {{ nvm_user_config_version.version }}"
  ansible.builtin.command: 'bash -ic "nvm exec {{ nvm_user_config_version.version }}  npm install -g --production {{ item }}"'
  changed_when: true
  with_items: "{{ nvm_user_config_version.global_packages }}"
