---
- name: "Install Node version {{ nvm_user_config_version.version }}"
  ansible.builtin.command: 'bash -ic "nvm install {{ nvm_user_config_version.version }}"'
  changed_when: true
  when: nvm_user_config_version.version != 'system'

- name: "Install global packages for Node version {{ nvm_user_config_version.version }}"
  ansible.builtin.command: 'bash -ic "nvm exec {{ nvm_user_config_version.version }}  npm install -g --production {{ item }}"'
  changed_when: true
  with_items: "{{ nvm_user_config_version.global_packages }}"
