---
- name: Update supervisor
  community.general.supervisorctl:
    name: all
    state: restarted

- name: Restart supervisor
  ansible.builtin.systemd:
    name: supervisor.service
    state: restarted
