---
- name: "Per user config for {{ aws_config_user_config.user }}"
  become_user: "{{ aws_config_user_config.user }}"
  become: true
  block:
    - name: Create config dir
      ansible.builtin.file:
        state: directory
        path: "~/.aws"
        mode: "0700"

    - name: Write config files
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "0600"
      with_items:
        - { src: config.j2, dest: "~/.aws/config" }
        - { src: credentials.j2, dest: "~/.aws/credentials" }
      vars:
        profiles: "{{ aws_config_user_config.profiles }}"
