#
# {{ ansible_managed }}
#
[mysqld]
innodb_buffer_pool_size        = {{ mysql_innodb_buffer_pool_size }}
innodb_flush_log_at_trx_commit = {{ mysql_innodb_flush_log_at_trx_commit }}
innodb_redo_log_capacity       = {{ mysql_innodb_redo_log_capacity }}

slow_query_log                 = {{ mysql_slow_query_log }}
