---
- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Update APT
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install system packages
  ansible.builtin.apt:
    pkg: "{{ base_default_system_packages + system_packages }}"
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Generate required locales
  community.general.locale_gen:
    name: "{{ item }}"
    state: present
  with_items: "{{ system_locales }}"

- name: Set default locale
  ansible.builtin.copy:
    content: "LANG=\"{{ system_default_locale }}\"\n"
    dest: /etc/default/locale
    mode: "0644"

- name: Set default timezone
  community.general.timezone:
    name: "{{ system_timezone }}"
  notify: Restart cron

- name: Create users
  ansible.builtin.user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    append: true
    groups: "{{ item.groups | default(omit) }}"
    shell: "{{ item.shell | default('/bin/bash') }}"
  with_items: "{{ users }}"
  loop_control:
    label: "{{ item.name }}"

- name: Assign authorized keys
  ansible.posix.authorized_key:
    user: "{{ item.0.name }}"
    key: "{{ lookup('file', item.1) }}"
  with_subelements:
    - "{{ users }}"
    - authorized_keys
  loop_control:
    label: "{{ item.0.name }} - {{ item.1 }}"
