---
- name: Install PHP zip extension
  ansible.builtin.apt:
    pkg: "php{{ composer_php_version }}-zip"
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Download Composer installer
  ansible.builtin.get_url:
    url: https://getcomposer.org/installer
    dest: /tmp/composer-setup.php
    mode: "0644"

- name: Install Composer
  ansible.builtin.command:
    argv:
      - php
      - /tmp/composer-setup.php
      - --install-dir=/usr/local/bin
      - --filename=composer
  args:
    creates: /usr/local/bin/composer
  register: composer_install

- name: Update Composer to latest version
  ansible.builtin.command: composer self-update
  register: composer_update
  changed_when: "'Updating to version' in composer_update.stdout"
  when: composer_keep_updated

- name: Create bash completion directory
  ansible.builtin.file:
    path: /etc/bash_completion.d
    state: directory
    mode: "0755"

- name: Check if Composer Bash completion exists
  ansible.builtin.stat:
    path: /etc/bash_completion.d/composer
  register: composer_completion_stat

- name: Generate Composer Bash completion
  ansible.builtin.command: composer completion bash
  register: composer_completion_output
  environment:
    COMPOSER_ALLOW_SUPERUSER: "1"
  changed_when: composer_completion_output.stdout != ''
  when: composer_install is changed or composer_update is changed or not composer_completion_stat.stat.exists

- name: Write Composer Bash completion
  ansible.builtin.copy:
    dest: /etc/bash_completion.d/composer
    content: "{{ composer_completion_output.stdout }}"
    mode: "0644"
  when: composer_install is changed or composer_update is changed or not composer_completion_stat.stat.exists

- name: Install Composer global packages
  community.general.composer:
    command: 'global require "{{ item.name }}={{ item.version }}"'
    prefer_dist: true
    working_dir: /
  with_items: "{{ composer_global_packages }}"

- name: Vagrant specific config
  ansible.builtin.include_tasks: vagrant.yml
  when: vagrant and composer_create_swap
