---
- name: Install PHP zip extension
  ansible.builtin.apt:
    pkg: "php{{ composer_php_version }}-zip"
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Install Composer
  ansible.builtin.shell: set -o pipefail && curl -sS https://getcomposer.org/installer | php && mv composer.phar /usr/local/bin/composer
  args:
    executable: /bin/bash
    creates: /usr/local/bin/composer
  register: composer_install

- name: Update Composer to latest version
  ansible.builtin.command: composer self-update
  register: composer_update
  changed_when: "'Updating to version' in composer_update.stdout"
  when: composer_keep_updated

- name: Create bash completion directory
  ansible.builtin.file:
    path: /etc/bash_completion.d
    state: directory
    mode: "0755"

- name: Check if Composer Bash completion exists
  ansible.builtin.stat:
    path: /etc/bash_completion.d/composer
  register: composer_completion_stat

- name: Generate Composer Bash completion
  ansible.builtin.shell: "COMPOSER_ALLOW_SUPERUSER=1 composer completion bash > /etc/bash_completion.d/composer"
  when: composer_install is changed or composer_update is changed or not composer_completion_stat.stat.exists

- name: Install Composer global packages
  community.general.composer:
    command: 'global require "{{ item.name }}={{ item.version }}"'
    prefer_dist: true
    working_dir: /
  with_items: "{{ composer_global_packages }}"

- name: Vagrant specific config
  ansible.builtin.include_tasks: vagrant.yml
  when: vagrant and composer_create_swap
