---
- name: Create swap file
  ansible.builtin.command: dd if=/dev/zero of=/var/swap.1 bs=1M count=2048
  args:
    creates: /var/swap.1
  register: swap_created

- name: Secure swap file
  ansible.builtin.file:
    path: /var/swap.1
    mode: "0600"

- name: Format swap file
  ansible.builtin.command: mkswap /var/swap.1
  changed_when: true
  when: swap_created is not skipped

- name: Enable swapfile
  ansible.builtin.command: swapon /var/swap.1
  changed_when: true
  when: swap_created is not skipped

- name: Add swap to fstab
  ansible.posix.mount:
    src: /var/swap.1
    name: none
    fstype: swap
    opts: defaults
    passno: "0"
    dump: "0"
    state: present
