---
- name: Install apache plugin
  ansible.builtin.apt:
    name: python3-certbot-apache
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Process certificates
  with_items: "{{ certbot_certs }}"
  ansible.builtin.include_tasks: apache-certs.yml
  loop_control:
    loop_var: certbot_certs_item
    label: "{{ certbot_certs_item.name }}"
  when: certbot_certs|length

- name: Install SSL vhosts
  ansible.builtin.template:
    src: "templates/apache2/vhosts/{{ item.src }}"
    dest: "/etc/apache2/sites-available/{{ item.dest }}"
    mode: "0644"
  with_items: "{{ apache2_ssl_vhosts }}"
  notify: Restart apache2

- name: Enable SSL vhosts
  ansible.builtin.file:
    src: "/etc/apache2/sites-available/{{ item.dest }}"
    path: "/etc/apache2/sites-enabled/{{ item.dest }}"
    state: link
  with_items: "{{ apache2_ssl_vhosts }}"
  notify: Restart apache2
