---
# On the first provision, nginx should not be running
- name: Gather service facts
  ansible.builtin.service_facts:

- name: Check if nginx running
  ansible.builtin.set_fact:
    certbot_nginx_active:
      stdout: "{{ 'active' if (ansible_facts.services['nginx.service'].state | default('') == 'running') else 'inactive' }}"

# The Nginx plugin should only be installed if Nginx is installed as the package has a dependency on Nginx
- name: Install nginx plugin
  ansible.builtin.apt:
    name: python3-certbot-nginx
    state: present
    update_cache: true
    cache_valid_time: 3600
  when: certbot_nginx_active.stdout == 'active'

- name: Determine certbot mode
  ansible.builtin.set_fact:
    certbot_mode: "{{ (certbot_nginx_active.stdout == 'active') | ternary('nginx', 'standalone') }}"

- name: Process certificates
  with_items: "{{ certbot_certs }}"
  ansible.builtin.include_tasks: nginx-certs.yml
  loop_control:
    loop_var: certbot_certs_item
    label: "{{ certbot_certs_item.name }}"
  when: certbot_certs|length > 0
