---
- name: Remove system chrome
  ansible.builtin.include_tasks: remove-system-chrome.yml
  when: chrome_remove_system_chrome

- name: Install chrome system dependencies
  ansible.builtin.apt:
    pkg: "{{ chrome_system_dependencies }}"
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Check current chrome version
  ansible.builtin.command: /usr/local/bin/google-chrome --version
  register: chrome_current_version
  changed_when: false
  failed_when: false

- name: Install chrome
  ansible.builtin.command: "npx --yes @puppeteer/browsers install chrome@{{ chrome_version }} --path /opt"
  register: chrome_install_result
  changed_when: >
    chrome_current_version.rc != 0 or
    (chrome_install_result.stdout | regex_search('chrome@([\\d.]+)', '\\1') | first) not in chrome_current_version.stdout

- name: Process chrome path
  ansible.builtin.set_fact:
    chrome_path: "{{ chrome_install_result.stdout | regex_search('chrome@[\\d.]+ (.+)', '\\1') | first }}"

- name: Link chrome
  ansible.builtin.file:
    src: "{{ chrome_path }}"
    dest: /usr/local/bin/google-chrome
    state: link
    force: true

- name: Chromedriver tasks
  ansible.builtin.import_tasks: chromedriver.yml
  when: chrome_install_chromedriver
