---
- name: Create symfony params folder
  ansible.builtin.file:
    dest: "{{ symfony_params_file_path }}"
    state: directory
    owner: "{{ symfony_params_file_user }}"
    group: "{{ symfony_params_file_group }}"
    mode: "0750"
  when: symfony_params_template is defined

- name: Write symfony parameters file
  ansible.builtin.template:
    src: "templates/symfony-params/{{ symfony_params_template }}"
    dest: "{{ symfony_params_file_path }}/parameters.yaml"
    owner: "{{ symfony_params_file_user }}"
    group: "{{ symfony_params_file_group }}"
    mode: "0640"
  when: symfony_params_template is defined
