---
- name: Install Node repo key
  ansible.builtin.copy:
    src: nodesource.gpg
    dest: /usr/share/keyrings/nodesource.gpg
    owner: root
    group: root
    mode: "0644"

- name: Remove historic node repo
  ansible.builtin.import_tasks: remove-old-node-repo.yml

- name: Add Node repo
  ansible.builtin.apt_repository:
    repo: "{{ item }}"
  with_items:
    - "deb [signed-by=/usr/share/keyrings/nodesource.gpg] https://deb.nodesource.com/node_{{ node_version }}.x nodistro main"
  register: node_repo

- name: Install Node
  ansible.builtin.apt:
    pkg: nodejs
    state: "{{ node_repo.changed | ternary('latest', 'present') }}"
    update_cache: true
    cache_valid_time: 3600

- name: Enable package managers via corepack
  ansible.builtin.command: >-
    corepack enable
    {{ node_corepack_enable if node_corepack_enable is string else '' }}
  changed_when: true
  when: node_corepack_enable is not false

- name: Write .npmrc
  ansible.builtin.template:
    src: "node/{{ item.template }}"
    dest: "{{ item.dir }}/.npmrc"
    owner: "{{ item.user }}"
    group: "{{ item.user }}"
    mode: "0600"
  with_items: "{{ node_npmrc }}"

- name: Install Node global packages
  community.general.npm:
    name: "{{ item }}"
    global: true
    production: true
  with_items: "{{ node_global_packages }}"
