---
- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Clean /etc/hosts
  ansible.builtin.template:
    src: networking/hosts.j2
    dest: /etc/hosts
    mode: "0644"

- name: Set DHCP config
  ansible.builtin.template:
    src: networking/dhclient.conf.j2
    dest: /etc/dhcp/dhclient.conf
    mode: "0644"

# fixes repos on first install
- name: Update APT
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Add backports repo
  ansible.builtin.apt_repository:
    repo: "deb https://deb.debian.org/debian {{ ansible_distribution_release }}-backports main"
    state: present
    update_cache: true

- name: Install system packages
  ansible.builtin.apt:
    pkg: "{{ base_default_system_packages + system_packages }}"
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Generate required locales
  community.general.locale_gen:
    name: "{{ item }}"
    state: present
  with_items: "{{ system_locales }}"

- name: Set default locale
  ansible.builtin.template:
    src: locale.j2
    dest: /etc/default/locale
    mode: "0644"

- name: Set default timezone
  community.general.timezone:
    name: "{{ system_timezone }}"
  notify: Restart cron

- name: Use full hostname in prompt
  ansible.builtin.replace:
    regexp: "^(.*PS1.*)\\\\h(.*)"
    replace: "\\g<1>\\\\H\\g<2>"
    path: "/etc/skel/.bashrc"

- name: Add ssh user groups
  ansible.builtin.group:
    name: "{{ item }}"
    system: true
  with_items:
    - ssh-users
    - "{{ ssh_extra_user_groups }}"

- name: Create users
  ansible.builtin.user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    append: true
    groups: "{{ item.groups }}"
    shell: "{{ item.shell | default('/bin/bash') }}"
  with_items:
    - "{{ default_users }}"
    - "{{ users }}"
  loop_control:
    label: "{{ item.name }}"

- name: Assign authorized keys - default users
  ansible.posix.authorized_key:
    user: "{{ item.0.name }}"
    key: "{{ lookup('file', item.1) }}"
  with_subelements:
    - "{{ default_users }}"
    - authorized_keys
  loop_control:
    label: "{{ item.0.name }} - {{ item.1 }}"

- name: Assign authorized keys - users
  ansible.posix.authorized_key:
    user: "{{ item.0.name }}"
    key: "{{ lookup('file', item.1) }}"
  with_subelements:
    - "{{ users }}"
    - authorized_keys
  loop_control:
    label: "{{ item.0.name }} - {{ item.1 }}"

- name: Install openssh from backports
  ansible.builtin.apt:
    pkg: openssh-server
    default_release: "{{ ansible_distribution_release }}-backports"
    state: present
    update_cache: true
    cache_valid_time: 3600
  register: base_openssh_apt_release

- name: Force apt update on openssh-server when switching to backports
  ansible.builtin.apt:
    pkg: openssh-server
    state: latest
    only_upgrade: true
    update_cache: true
    cache_valid_time: 3600
  when: base_openssh_apt_release.changed
  # noqa no-handler

- name: Configure sshd
  ansible.builtin.template:
    src: ssh/99-custom.conf.j2
    dest: /etc/ssh/sshd_config.d/99-custom.conf
    owner: root
    group: root
    mode: "0644"
    validate: "sshd -t -f %s"
  notify: Reload sshd

- name: Add system known hosts
  ansible.builtin.lineinfile:
    dest: /etc/ssh/ssh_known_hosts
    line: "{{ item }}"
    create: true
    owner: root
    group: root
    mode: "0644"
  with_items: "{{ known_hosts }}"

- name: Add to profile.d
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "/etc/profile.d/{{ item.dest }}"
    owner: root
    group: root
    mode: "0644"
  with_items: "{{ base_profile_config }}"

- name: Vagrant specific config
  ansible.builtin.include_tasks: vagrant.yml
  when: vagrant
