---
- name: "Check if private key exists: {{ gpg_user_private_key.id }}"
  ansible.builtin.command: "gpg2 --list-secret-key {{ gpg_user_private_key.id }}"
  register: gpg_user_private_key_exists
  failed_when: "gpg_user_private_key_exists is failed and 'No secret key' not in gpg_user_private_key_exists.stderr"
  changed_when: false

- name: Import as new key
  when: "'No secret key' in gpg_user_private_key_exists.stderr"
  block:
    - name: "Write private key to temp file: {{ gpg_user_private_key.id }}"
      ansible.builtin.copy:
        content: "{{ gpg_user_private_key.key | b64decode }}"
        dest: "{{ gpg_basedir }}/{{ gpg_user_private_key.id }}"
        mode: "0600"
      no_log: true

    - name: "Import private key {{ gpg_user_private_key.id }}"
      ansible.builtin.command: "gpg2 --batch --passphrase-fd 0 --pinentry-mode loopback --import {{ gpg_basedir }}/{{ gpg_user_private_key.id }}"
      args:
        stdin: "{{ gpg_user_private_key.passphrase }}"
      changed_when: true
      no_log: true

    - name: "Remove private key temp file: {{ gpg_user_private_key.id }}"
      ansible.builtin.file:
        path: "{{ gpg_basedir }}/{{ gpg_user_private_key.id }}"
        state: absent
      no_log: true
