name: ansible-lint

on:
  push:
    branches: ["bookworm"]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          requirements_file: requirements.yml
